@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Lato&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Give+You+Glory&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

body {
    font-family: Montserrat, Lato, sans-serif;
    padding: 0;
    margin: 0;
    border: 0;
}

/* Color */

.bg-color-primary {
    background-color: #fccbc3;
    color: #000;
}

.bg-color-secondary {
    background-color: #9ebfc9;
    color: #000;
}

.bg-color-tertiary {
    background-color: #bd7f75; 
    color: #000;
}

/* Header */  

.container-fluid .navalert-container .col-12{
    padding-left: 0;
    padding-right: 0;
}

.site-wide-alert {
    background-color: #9ebfc9;
    color: #fff;
    font-size: 1rem;
    border-color: #9ebfc9;
    border-radius: 0;
    margin-bottom: 0;
    padding: 0.3125rem 0.9375rem;
}

.text-responsive {
    font-size: calc(100% + 1vwv + 1vh);
}

.navbar-brand {
    background: no-repeat;
    display: block;
    color:  #fff;
    font-size: 2rem;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
}

.nav-link  {
    color:  #000;
    font-size: 1rem;
    font-weight: 700;
    text-transform: uppercase;
}

.navbar-nav .nav-link {
    padding-right: 0;
    padding-left: 0;
}

.navbar-light .navbar-nav .nav-link {
    color: #000;
}
.navbar-light .navbar-nav .nav-link:hover {
    color: #fff;
}
/* Carousel */


.carousel,
.carousel-item,
.carousel-item.active {
    height: 100%;
    width: 100%;
    margin: auto; 
    position: relative;
}

.carousel-caption {
    color: #fff;
    font-size: 4rem;
    font-weight: 800;
}

.btn-shop, 
.btn-submit {
    background-color: #9ebfc9;
    color: #fff;
    font-weight: 700;
    text-align: center;
}

.btn-submit:hover,
.btn-shop:hover {
    background-color: #a06b73;
    color: #fff;
    font-weight: 700;
    text-align: center;
}

 /* Our Story section */

 .container .our-story {
     font-weight: 500;
 }

.story-title {
     font-family: Lobster, Montserrat, cursive;
     font-size: 3rem;
     font-weight: 400;
     text-align: center;
     margin: 0.3125rem;
     padding: 0.125rem;
}

#signature {
     font-family: "Give You Glory", Montserrat, cursive;
     font-size: 4rem;
     font-weight: 700;
     text-align: right;
}

#baker {
    width: 25rem;
    height: 20rem;
    border: 0.125rem solid #bd7f75;
}

/* Menu section */

.menu-item {
    width: 22rem;
    height: 15rem;
   /* object-fit: cover;*/
}

/* Contact section */

.get-in-touch {
    margin-top: 1.875rem;
    border-radius: 0;
}

#contact .row {
    margin-bottom: 1.875rem;
}

iframe {
    margin-bottom: 1.875rem;
}

.embed-responsive {
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}

.embed-responsive iframe {
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}
/* Footer  */

footer {
    background: #9ebfc9;
    color: #000;
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
    padding: 0.3125rem;
    margin-top: auto;
}

.social-networks i {
    font-size: 1rem;
    margin: 0.125rem;
    padding: 0.125rem;
    color: #000;
}