@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Lato&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Give+You+Glory&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

body {
    font-family: Montserrat, Lato, sans-serif;
    padding: 0;
    margin: 0;
    border: 0;
    display: flex;
    flex-direction: column;
}

html, body {
    height: 100%; 
}

.content {
    flex: 1 0 auto;
}

.footer {
    flex-shrink: 0;
}

/* Color */

.bg-color-primary {
    background-color: #fccbc3;
    color: #000;
}

.bg-color-secondary {
    background-color: #9ebfc9;
    color: #000;
}

.bg-color-tertiary {
    background-color: #bd7f75; 
    color: #000;
}

/* Navbar */  

.navbar-brand {
    background: no-repeat;
    display: block;
    color:  #fff;
    font-size: 2rem;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
}

.navbar-collapse .navbar-text {
    position: absolute;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.nav-link  {
    color:  #000;
    font-size: 1rem;
    font-weight: 700;
    text-transform: uppercase;
}

.navbar-nav .nav-link {
    padding-right: 0;
    padding-left: 0;
}

.navbar-light .navbar-nav .nav-link {
    color: #000;
}
.navbar-light .navbar-nav .nav-link:hover {
    color: #fff;
}

/* Carousel */

.carousel,
.carousel-item,
.carousel-item.active {
    height: 100%;
    width: 100%;
    margin: auto; 
    position: relative;
}

.carousel-caption {
    color: #000;
    font-size: 5rem;
    font-weight: 900;
    text-shadow: 0.0625rem 0.0625rem 0.0625rem #000;
}
.overlay-image {
    opacity: 0.7;
}

.btn-shop, 
.btn-submit {
    background-color: #9ebfc9;
    color: #000;
    font-weight: 600;
    text-align: center;
}

.btn-submit:hover,
.btn-shop:hover {
    background-color: #a06b73;
    color: #fff;
    font-weight: 600;
    text-align: center;
}

 /* Our Story section */

 .container .our-story {
     font-weight: 700;
 }

.story-title {
     font-family: Lobster, Montserrat, cursive;
     font-size: 3rem;
     font-weight: 400;
     text-align: left;
     margin-top: 0;
     padding-top: 0;
     padding-bottom: 1.25rem;
}

#baker {
    max-width: 100%;
    height: auto;
    display: block;
}

/* Menu section */

.menu-item .img-fluid{
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: relative;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.card .savoury-item {
    position: relative;
}

.card-title .card-text {
    white-space: pre-wrap;
}

/* Order section */

.container .text-center  {
    margin: 0;
}

.right {
    float: right !important;
}

/* Contact section */

#contact .row {
    margin-bottom: 1.875rem;
}

#message .form-control {
    max-width: 100%
}

iframe {
    margin-bottom: 1.875rem;
}
.contact-map {
    padding-top: 2rem;
}
.embed-responsive {
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 0;
}

.embed-responsive iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
}
/* Footer  */

footer {
    background: #9ebfc9;
    color: #000;
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
    padding: 0.3125rem;
    margin-top: auto;
    position: absolute;
    bottom: 0;
}

.social-networks i {
    font-size: 1rem;
    margin: 0.125rem;
    padding: 0.125rem;
    color: #000;
}