@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Lato&display=swap');

body {
    font-family: Montserrat, Lato, sans-serif;
    font-size: 1rem;
    padding: 0;
    margin: 0;
    border: 0;
}

/* Color */

.bg-color-primary {
    background-color: #fccbc3;
    color: #000;
}

.bg-color-secondary {
    background-color: #9ebfc9;
    color: #000;
}

.bg-color-tertiary {
    background-color: #bd7f75; 
    color: #000;
}

/* Header */   

.navbar-brand {
    background: no-repeat;
    display: block;
    color:  #fff;
    font-size: 2rem;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
}

.nav-link  {
    color:  #000;
    font-size: 1rem;
    font-weight: 700;
    text-transform: uppercase;
}

/* Carousel */

.carousel-item {
    height: 32 rem;
    position: relative;
}

.carousel-caption {
    color: #fff;
    font-size: 4rem;
    font-weight: 800;
 }

 .btn-shop, 
 .btn-submit,
 .btn-shop:active {
    background-color: #9ebfc9;
    color: #fff;
    font-weight: 700;
    text-align: center;
 }

 .btn-shop:hover {
    background-color: #a06b73;
    color: #fff;
    font-weight: 700;
    text-align: center;
 }

/* Footer  */

footer {
    background: #bbe1ec;
    color: #000;
    font-size: 1rem;
    font-weight: bold;
    padding: 0.625rem;
    margin-top: auto;
}

.social-networks i {
    font-size: 1rem;
    margin: 0.125rem;
    padding: 0.125rem;
    color: #000;
}